#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@
	
override_dh_install:
	dh_install
	mkdir -p debian/nvidia-vaapi-driver/etc/X11/Xsession.d/
	mkdir -p debian/nvidia-vaapi-driver/etc/profile.d/
	cp debian/env-scripts/90nvvaapi debian/nvidia-vaapi-driver/etc/X11/Xsession.d/
	cp debian/env-scripts/nvidia-vaapi-env.sh debian/nvidia-vaapi-driver/etc/profile.d/
